
# Playwright
node_modules/
/test-results/
/playwright-report/
k6-load-tests/reports/
/blob-report/
/playwright/.cache/
/.auth.json
/.auth-*.json
k6-load-tests/logs.txt
k6-load-tests/libs

# Allure Reports
allure-results/
allure-report/
./test-automation/allure-results
./test-automation/allure-report

# Environment variables and secrets (NEVER commit credentials)
env/
.env
.env.*
.env.local
.env.*.local
k6-load-tests/config/env.js


# IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo